.add-review-container{
    margin-top: 120px;
    .review-form-container{
        margin-top: 20px;
        .form{
            .form-group{
                margin-bottom: 14px;
                label{
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 2px;
                }
                .input-field,.text-area-field{
                    padding: 8px 12px;
                    font-size: 16px;
                    color: rgb(26, 23, 23);
                    border-radius: 6px;
                    border: 1px solid gray;
                    outline: none;
                    width: 400px;
                    &.error-field{
                        outline: red;
                        border: 1px solid red;
                    }
                }
                span{
                    &.error{
                        display: block;
                        font-size: 12px;
                        font-weight: 400;
                        color: red;
                        margin-top: 2px;
                    }
                }
            }
            .btn{
                padding: 8px 12px;
                border-radius: 6px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                background-color: blue;
                color: white;
            }
        }
    }
}