.navbar{
    .logo{
        font-size: 48px;
        font-weight: 600;
        color: #5DA7DB;
        font-family: 'Josefin Sans', sans-serif;
    }
    .nav-lists{
        li{
            font-size: 16px;
            font-weight: 400;
            margin: 0px 12px;
            a{
                position: relative;
                padding: 8px 0px;
                &.active{
                    font-weight: 700;
                    color: #5DA7DB;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        border: 1px solid #5DA7DB;
                    }
                }
            }
        }
    }
}