.navbar{
    .logo{
        font-size: 32px;
        font-weight: 600;
        color: rgb(75, 59, 22);
    }
    .nav-lists{
        li{
            font-size: 16px;
            font-weight: 400;
            margin: 0px 12px;
        }
    }
}