
a{
    text-decoration: none !important;
    color: rgb(38, 36, 36);
}
li{
    list-style: none !important;
}
label{
    display: block;
}
.d-flex{
    display: flex !important;
}
.align-center{
    align-items: center !important;
}
.justify-space-between{
    justify-content: space-between !important;
}
.font-w400{
    font-weight: 400;
}
.font-w500{
    font-weight: 500;
}
.font-w600{
    font-weight: 600;
}